{
  "extends": ["standard"],
  "plugins": ["import"],
  "globals": {
    "window": false,
    "document": false
  },
  "rules": { "space-before-function-paren": 0 },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./build/webpack.common.js"
      }
    }
  }
}
